<!DOCTYPE html>
<html>
<head>
	<title>「智能刮刮卡」抽獎</title>
	<style type="text/css">
		html {
			background-color: #ddf8ff;
		}
		h1 {
			font-size: 50px;
			width: 500px;
		    text-align: center;
		    transform: translate(-50%,-50%);
		    left: 50%;
		    position: absolute;
		    top: 50%;
		}
	</style>
</head>
<body>

	<h1>「智能刮刮卡」抽獎已完結，多謝參與！</h1>
	
</body>
</html>