<!DOCTYPE html>
<html>
<head>
	<title>「智能刮刮卡」抽獎</title>
	<%- include('partials/head'); %>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<h1>「智能刮刮卡」抽獎</h1>
				<p>

					由2019年1月18日至3月19日於IVM智能售賣機（TapTabBox）選購產品，即有機會參加「智能刮刮卡」，得獎者有機會贏取以下獎品。
					大獎：IVM智能售賣機，價值HK$100,000（共2份）
					二獎：Nintendo Switch遊戲機，價值HK$2,340（共2份）
					三獎：HK$100惠康超級市場禮券（共30份）
					其他獎品豐富，包括以下： 
					日本及台灣來回機票（共4份）
					Sanrio精品（共100份）
					零食及汽水（共2,000份）
					
				</p>

				<h3>活動條款及細則：</h3>
				<ol>
					<li>此推廣期為2019年1月18日至3月19日。</li>
					<li>「智能刮刮卡」有效日期為2019年1月18日至3月19日。</li>
					<li>「智能刮刮卡」將於2019年1月18日至3月19日進行抽獎，即抽即中形式進行。</li>
					<li>消費以單一收據計算，每位參加者購物愈多，中獎機會愈多。</li>
					<li>IVM Tech (HK) Limited將根據得獎者提供之聯絡資料，安排領取提供的獎品；倘若資料不符或不足，未能以電話或電郵方式成功聯絡得奬者及核實得奬身份，則當落選論，IVM Tech (HK) Limited有權取消其領獎資格。</li>
					<li>大獎、二獎、三獎及來回機票的得獎者，將於一星期內有專人以電話或電郵方式通知得獎者領獎事宜，並須於2019年3月25日或之前親臨觀塘偉業街221號美德工業大廈E座1樓E室IVM Tech (HK) Limited領獎，屆時得獎者須出示有效之身份證明文件以作核實，並且資料須與活動登記的資料相符；倘若冒用或盜用任何第三者之資料，IVM Tech (HK) Limited有權取消違規者的領獎資格。本公司亦不會為得獎者安排獎品之郵寄服務。</li>
					<li>所有獎品均不可兌換現金、更換其他獎品及不設退換，獎品價值以公佈之零售價或定價為準，參加者不得異議。於任何情況下，得奬者不得就奬品及/或其他有關奬品的事宜向IVM Tech (HK) Limited作出追討。</li>
					<li>參加者所提供之個人資料，只用作於「智能大抽獎」活動聯絡參加者及核實身份之用途，所有資料將於抽獎結束後刪除銷毀。</li>
					<li>IVM Tech (HK) Limited之所有僱員及其家屬均可參加是次推廣活動。</li>
					<li>IVM Tech (HK) Limited並非是次活動之所有獎品供應商，故不會承擔任何產品及售後服務之責任。並不會對任何獎品及其質量作出任何聲明或保證。</li>
					<li>參加者應細閱所有條款及細則，並須同意接受IVM Tech (HK) Limited此活動之一切細則及條款。</li>
					<li>如活動引致或涉及任何爭議，IVM Tech (HK) Limited保留最終決定的權利。</li>
					<li>推廣生意的競賽牌照號碼：51520</li>
				</ol>
				<p>如有查詢，請電郵至：info@ivmtech.com</p>
			</div>
		</div>
	</div>
</body>
</html>