/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;

    position: fixed;
    width: 100%;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.form-div {
  width: 80%;
  margin: auto;
  margin-top: 150px;
  background-color: #ceedf0;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 10px;
}
.label-30 {
  width: 30%;
}
.form-input {
  width: 63%;
}
#winner-data-form {
  width: 50%;
  margin: auto;
}

th, td {
  text-align: center;
}


.dashboard-regular-label-div {
  font-size: 20px;
}
.event-prize-div {
  border: solid 1px;
}
.event-prize-img {
  width: 100%;
}