/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;

    position: fixed;
    width: 100%;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.form-div {
  width: 80%;
  margin: auto;
  margin-top: 150px;
  background-color: #ceedf0;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 10px;
}
.label-30 {
  width: 30%;
}
.form-input {
  width: 63%;
}
#winner-data-form {
  width: 50%;
  margin: auto;
}

th, td {
  text-align: center;
}


.dashboard-regular-label-div {
  font-size: 20px;
}
.event-prize-div {
  border: solid 1px;
}
.event-prize-img {
  width: 100%;
}

#card-bg {
  position: absolute;
  width: 888px;
  height: 1200px;
  left: 50px;
  top: 200px;
  /*z-index: 1;*/
  background-color: #0985ef;
  border-radius: 80px;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,207cca+28,2989d8+64,1e5799+90 */
background: #7db9e8; /* Old browsers */
background: -moz-linear-gradient(top,  #7db9e8 0%, #207cca 28%, #2989d8 64%, #1e5799 90%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7db9e8 0%,#207cca 28%,#2989d8 64%,#1e5799 90%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7db9e8 0%,#207cca 28%,#2989d8 64%,#1e5799 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

}
.card-title {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 5rem;
  margin-top: 40px;
}